* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;

}

.container-fluid {
    padding: 5px !important;
    background-color: #B6D0E2;
    margin: 0 auto;
    width: 100% !important;
}

h1, h4 {
    color:#00008B;
}

input, select, button, textarea {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

input, label {
    font-size: 13px;
}

hr {
    border: 4px solid #7a7e80;
}

.calculateBtn, #newParishBtn {
    background: #00008B;
    color: #fff;
    padding: 10px 15px;
}

#newParishBtn {
    margin-top: 10px;
}

.logos {
    margin: 0 auto;
    width: 98%;
}

.logos img {
    width: 20%;
}

.logos h1 {
    color: #00008B;
}
    
.heading {
    font-size: 20px;
    margin-top: 10px;
}

#formContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    padding: 0 !important;
}

.sideBar {
    background: #000080;
    color: #fff;
    padding: 7px;
    margin-right: 10px;
    margin-left: 0;
    width: 20%;
    border-radius: 5px;
    font-size: 16px;
}

.sideBar ul {
    margin-left: -30px;
    margin-top: -10px;
}

.sideBar ul li {
    list-style: none;
}

.selectBox {
    width: 35%;
    margin-top: 20px;
}

.allZones h4 {
    margin: 0 auto 5px auto;
    font-weight: bold;
}

.allZones #zonesList {
    width: 70%;
    padding: 5px;
    font-size: 14px;
}

.allZones p {
    font-size: 13px;
}

.areasBox {
    margin-top: 10px;
    font-size: 14px;
}

.areasBox h4 {
    margin: 0 auto;
    font-weight: bold;
}

.areasBox p { 
    font-size: 13px;
}

.areasBox #areas {
    width: 70%;
    padding: 5px;
    font-size: 14px;
}

.attendance p {
    font-weight: 600;
    font-size: 20px;
}

#offering {
    margin-bottom: 5px;
    
}

.reportData {
    margin-top: 10px;
    display: none;
}

.reportData h5 {
    margin: 15px 0 5px 0;
    font-size: 16px;

}

.parishesBox {
    margin-top: 20px;
}

.parishesBox h4 {

    font-weight: 600;
}

.parishesBox p {
    font-size: 13px;
}

.newParish {
    margin: 5px 0;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#submitBtn {
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    text-align: center;
    background: #000080;
    color: #fff;
}

.paymentReceipt {
    margin-top: 15px;
    display: none;
}

.paymentReceipt p {
    font-size: 13px;
}

.receiptInput {
    margin-top: -10px;
}

.receiptInput input {
    display: inline-block;
    width: 30% !important;
}

.receiptInput label {
    width: 30%;
    display: inline-block;
}

footer {
    margin-top: 20px;
    font-size: 11px;
}   

@media (max-width: 568px) {
    .logos {
        display: flex;
        flex-direction: column;
    }

 .logos img  {
    width: 40%;

    }

    #formContent {
    flex-direction: column;
    padding: 5px;
    }

    .sideBar {
        margin: 0 auto;
        width: 100%;  
        margin-bottom: 10px;  
        font-size: 14px;
    }

    .selectBox {
        width: 100%;
    }

    .allZones #zone {
        width: 100%;
        padding: 5px;
        font-size: 14px;
    }

    .areasBox #areas {
        width: 100%;
        padding: 5px;
        font-size: 14px;
    }

    .areasBox {
        margin-top: 20px;
    }

    .heading {
        font-size: 25px;
        width: 100%;
        font-weight: bold;
    }

    .reportData {
        margin-top: 10px;
        display: none;
    }

    .reportData input {
        width: 100%;
        padding: 5px;
        font-size: 13px;
        border-radius: 5px;
        border: none;
    }

    .attendance {
        width: 100%;
        padding: 0;
    }

    .attendance p {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .attendance input {
        width: 32%;
        font-size: 13px;
    }

    #commentService {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        font-size: 13px;
    }
    
}
